1. Bold and change color (to a pleasant maroon or something) of each menu item
2. Italicize each description and reduce font size by one (Made desc oblique and .97rem in size)
3. Remove the white space between the menu item and description. (There is now .5rem between dish name and desc, and 1.5rem between desc and next row.)
4. Leave background of the page white and clean (Don't use platter of fish as backdrop or watermark). Use it at the head of the page as we discussed.
5. Massage the message so that its not so impersonal. Ill send you the picture that can go at the top of the page.
6. Move the map to the contact page.

7. (from self): need to fix image formatting.
8. maybe go to only 3 columns max
9. Make sections collapsable / collapsed by default.
10. make sections clickable links to pages just about that section, with items in their own clickable section.
11. make item page.
12. make items clickable from the main menu too. they should be able to be added to order "tray" from main menu page, category page, and indivual item page. (for online ordering)


