body {

	background-color: currentColor;
	
}

.bigbackimg {
	margin-bottom: auto;
    margin-top: auto;
}

.col-right {
    display:inline-block;
    float:none;
    text-align: right;
}

.col-left {
    display:inline-block;
    float:none;
    text-align: left;
}

.card {
	background-color: #ffffffaa;
}

.card-body {
	text-align: center;
}

.navbar-brand {
	margin: auto;
}

header {
	background-color: black;
}

.item-style {
	font-weight:500;
}

.contact-panel {
	background-color: black;
}

.nav-item {
	font-size:1.2rem;
}

body > header > div > nav > a > img {
	width: 10rem;
	height: auto;
}

.maincol {
	flex-grow:unset;
	flex-basis:unset;
	margin: 0 auto;
}

.mt-5 {
	margin-top: 1rem;
	text-align: center;
}

.container {
	max-width: 1260px;
}

.padtop {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.footer {
  background-color: #17416d;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Footer */

	#footer {
		color: #7c8081;
		text-align: center;
	}

		#footer .copyright {
			font-size: 0.8em;
			line-height: 1rem;
		}

			#footer .copyright a {
				color: inherit;
			}

			#footer .copyright li {
				display: block;
			}

				#footer .copyright li:first-child {
					margin: 0;
					padding: 0;
					border: 0;
					color: white;
				}

.nopad {
	padding: 0;
}

#flavor-text {
	text-align:center;
	margin: 1rem;
}

ul.icons {
		cursor: default;
	}

		ul.icons li {
			display: inline-block;
			line-height: 1em;
			padding-left: 0.5em;
		}

			ul.icons li:first-child {
				padding-left: 0;
			}
			
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

/* Icon */

	.icon {
		text-decoration: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon.circle {
			-moz-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			border: 0;
			border-radius: 100%;
			display: inline-block;
			font-size: 1.25em;
			height: 2.25em;
			left: 0;
			line-height: 2.25em;
			text-align: center;
			text-decoration: none;
			top: 0;
			width: 2.25em;
		}

			.icon.circle:hover {
				top: -0.2em;
			}

			.icon.circle.fa-twitter {
				background: #70aecd;
				color: #fff;
			}

				.icon.circle.fa-twitter:hover {
					background: #7fb7d2;
				}

			.icon.circle.fa-linkedin {
				background: #3fb1a3;
				color: #fff;
			}

				.icon.circle.fa-linkedin:hover {
					background: #50c2b4;
				}

			.icon.circle.fa-facebook {
				background: #7490c3;
				color: #fff;
			}

				.icon.circle.fa-facebook:hover {
					background: #829bc9;
				}

			.icon.circle.fa-google-plus {
				background: #db6b67;
				color: #fff;
			}

				.icon.circle.fa-google-plus:hover {
					background: #df7b77;
				}

			.icon.circle.fa-instagram {
				background: #da83ae;
				color: #fff;
			}

				.icon.circle.fa-instagram:hover {
					background: #df93b8;
				}
				
			.icon.circle.fa-github {
				background: #dcad8b;
				color: #fff;
			}

				.icon.circle.fa-github:hover {
					background: #e1b89b;
				}

			.icon.circle.fa-dribbble {
				background: #da83ae;
				color: #fff;
			}

				.icon.circle.fa-dribbble:hover {
					background: #df93b8;
				}

		.icon.featured {
			cursor: default;
			display: block;
			margin: 0 0 1.5em 0;
			opacity: 0.35;
			text-align: center;
		}

			.icon.featured:before {
				font-size: 5em;
				line-height: 1em;
			}

		.icon > .label {
			display: none;
		}
		
ul {
	list-style-type: none;
    padding-inline-start: 0px; 
}

a {
	padding: 0 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

a.icon {
	margin: .5rem;
}

.no-indent {
	text-indent: 0;
}

p {
	padding-left: .5rem;
	text-indent: -.5rem;
}



.col-12 {
	max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.halal-seal {
	width: 5rem;
	height:auto;
	margin: auto;
}